.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100vw;
  /* background-color: black; */
}

.creature-block {
  /* height: 400px; */
  display: flex;
  /* align-content: center; */
  align-items: center;
  border: 1px solid black;
  padding: 20px;
  margin: 20px;
  flex-direction: column;
  width: 80vw;
  justify-content: center;
  /* background-color: black; */
  /* justify-content: center; */
}

.edit-block {
  width: 80%;
  display: flex;
  flex-direction: column;
}

img {
  width: 400px;
  /* align-content: center; */
}

p {
  font-size: 18px;
  /* height: 40px; */
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* color: red; */
}
